<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Hackathon</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLocationServlet</display-name>
    <servlet-name>AddLocationServlet</servlet-name>
    <servlet-class>controller.AddLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLocationServlet</servlet-name>
    <url-pattern>/add-location</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLocationsServlet</display-name>
    <servlet-name>GetLocationsServlet</servlet-name>
    <servlet-class>controller.GetLocationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLocationsServlet</servlet-name>
    <url-pattern>/get-locations</url-pattern>
  </servlet-mapping>
</web-app>